/* 
 * Footer
*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 100px 6vw;
}

.educate-section {
    max-width: 260px;

    align-self: flex-start;
}

.useful-links * {
    max-width: fit-content;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.footer-logo>h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #6255A5;

    margin: 0;
}

.educate-section>p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    color: rgba(31, 62, 114, 0.75);
    margin: 32px 0 0 0;
}

.footer-icons {
    color: #1F3E72;
    margin-top: 32px;

    display: flex;
    gap: 12px;
}

.icon-circle {
    background-color: #F9F7FF;
    padding: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer h4 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #1F3E72;

    margin: 0;
}

footer ul,
.subscribe-section p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #1F3E72;
    list-style: none;

    padding: 0;
    margin: 32px 0 0 0;
}

footer ul li {
    margin-bottom: 16px;
}

.subscribe-section {
    max-width: 268px;
}

.subscribe-section p {
    font-size: 14px;
}

footer form {
    display: flex;

    margin-top: 50px;
}

footer input {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #1F3E72;
    background-color: #F9F7FF;
    width: 100%;
    outline: none;

    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 18px 0 18px 7.5px;
}

footer button {
    border: none;
    border-radius: 5px;
    background-color: #6255A5;
    padding: 15px 24px;
    cursor: pointer;
}

.fa-paper-plane {
    color: #fff;
}

@media only screen and (max-width: 940px) {
    .educate-section {
        order: 1;
        justify-self: right;
    }
    .subscribe-section {
        order: 2;
    }
    .useful-links {
        order: 3;
        justify-self: right;
    }
    .community-section {
        order: 4;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
}

@media only screen and (max-width: 600px) {
   footer {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
    }

    .footer-logo {
        justify-content: center;
    }

    .footer-icons {
        justify-content: center;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .useful-links, .community-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .educate-section,
    .useful-links {
        justify-self: unset;
    } 
}
